.idea/
.bsp/
project/project/
project/target/
target/
tmp/
sync/

logger.log
.DS_Store

*.go.*
*.gobra.*
*.tokens
*.interp
/gen/
/.gobra/

.bloop/
.metals/
.vscode/
project/

# antlr4
*.interp
*.tokens

# genparser script
genparser.config

*.vo
*.vos
*.vok
*.vio
*.v.d
.coqdeps.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.coqdeps.d
.coq-native/
*.crashcoqide
.env
builddep/
_CoqProject.*
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
Makefile.package.*
.Makefile.package.*
